{% extends 'base.html' %}
{% load static %}
{% block contenido %}
{% include "navbar.html" %}
<div id="page_content" idNoticia="{{noticias.id}}">
  
  <section
    id="bg-blog-detail-img"
    style="White"
    class="bg-blog-detail-img"
  >
    <div class="overlay"></div>
  </section>

  <div class="text-center">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-center mb-4">Formulario de Contacto</h2>
                        <form method="post" action="{% url 'contacto:contacto' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.as_p }}
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
     
   
{% endblock contenido %}

