{% extends 'base.html' %} 
{% load static %} 
{% block contenido %} 
{% include "navbar.html" %}
<div id="page_content">
  <!--HEADER IMAGE-->
  <section id="bg-blog-detail-img" class="bg-blog-detail-img">
    <div class="overlay"></div>
  </section>

  <section id="search">
    <div class="container">
      <div class="row pt-lg-5">
        <div class="col-sm-12 col-ms-8 col-lg-8">
          <div class="text_minimal pt-0">
            <h1 class="pt-3 font-weight-bold blog_detail-heading text-black">
              {{noticias.titulo}}
            </h1>
            <p class="sub-heading pt-0 text-grey">
              {{noticias.contenido|safe}}
            </p>
          </div>

          <div class="horizontal-line mt-5"></div>

          <div class="written">
            <div class="written_outerbox mt-5 display">
              <img
                class="written_img"
                src="{% static 'img/comment_img.png' %}"
                alt=""
              />
              <div class="written_text">
                <p class="date text-black">WRITTEN BY</p>
                <h1 class="main_written text-black">Enna Janes</h1>
              </div>
            </div>
          </div>

          <div class="comment">
            <div class="comment_write">
              <div class="icon_comment">
                <i class="far fa-user user_icon"></i>

                <div class="icon_text">
                  <h1 class="main_written font">Mark Edison</h1>
                  <p class="date margin_days text-black">20 days ago</p>
                </div>
              </div>
              <p class="sub-heading mt-1">
                Nam ut rutrum ex, venenatis sollicitudin urna. Aliquam erat
                volutpat. Integer eu ipsum sem. Ut lacus vestibulum maximus
                suscipit.
              </p>
            </div>

            <h1 class="comment_text text-black mt-6 mb-5">Write a comment</h1>
            <form>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <input
                      class="form-control"
                      type="text"
                      placeholder="Name"
                      required
                      id="Name"
                      name="Name"
                    />
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <input
                      class="form-control"
                      type="email"
                      placeholder="Email"
                      required
                      id="email"
                      name="email"
                    />
                  </div>
                </div>

                <div class="col-12">
                  <div class="form-group">
                    <span class="message-error error"></span>
                    <textarea
                      class="form-control"
                      rows="5"
                      required
                      id="comment"
                      placeholder="Comment"
                    ></textarea>
                  </div>
                  <button
                    type="submit"
                    class="btn btn-large btn-primary padding_button w-100"
                    id="submit_btn"
                  >
                    SUBMIT REQUEST
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        {% include "./panel_noticias.html" %}
        
      </div>
    </div>
  </section>

  <!--  START FOOTER SECTION  -->
  <section id="footer" class="footer">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <ul class="footer_ul">
            <li class="footer_list"><i class="lab la-facebook-f"></i></li>
            <li class="footer_list"><i class="lab la-twitter"></i></li>
            <li class="footer_list"><i class="lab la-google-plus"></i></li>
            <li class="footer_list"><i class="lab la-linkedin-in"></i></li>
            <li class="footer_list"><i class="lab la-instagram"></i></li>
            <li class="footer_list"><i class="las la-envelope"></i></li>
          </ul>
          <p class="info footer_text">
            <i class="far fa-copyright"></i>2023 MegaOne. Made with love by
            themesindustry
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock contenido %}
