{% extends 'base.html' %} 
{% load static %} 
{% block contenido %} 
{% include "navbar.html" %}
<div id="page_content">
  <!--HEADER IMAGE-->
  <section id="bg-blog-detail-img" class="bg-blog-detail-img">
    <div class="overlay"></div>
  </section>

  <section id="search">
    <div class="container">
      <div class="row pt-lg-5">
        <div class="col-sm-12 col-ms-8 col-lg-8">
          <div class="text_minimal pt-0">
            <h1 class="pt-3 font-weight-bold blog_detail-heading text-black">
              {{noticias.titulo}}
            </h1>
            <p class="sub-heading pt-0 text-grey">
              {{noticias.contenido|safe}}
            </p>
          </div>

          <div class="horizontal-line mt-5"></div>

          <div class="written">
            <div class="written_outerbox mt-5 display">
              <img
                class="written_img"
                src="{{noticias.autor.imagenes.url}}"
                alt=""
              />
              <div class="written_text">
                <p class="date text-black">ESCRITO POR</p>
                <h1 class="main_written text-black">{{noticias.autor}}</h1>
              </div>
            </div>
          </div>
          <div id="test">
            
          
            {% include "./comentarios.html" %}

          </div>
            {% if user.is_authenticated %}
            <h1 class="comment_text text-black mt-6 mb-5">
              ESCRIBIR UN COMENTARIO</h1>
            <form id="formulario-comentario">
              <div class="row">
                 

                <div class="col-12">
                  <div class="form-group">
                    <span class="message-error error"></span>
                    <textarea
                      class="form-control"
                      rows="5"
                      required
                      id="comment"
                      placeholder="Comment"
                    ></textarea>
                    <div id="comentario-error" class="text-danger"></div>
                  </div>
                  <button
                    type="button"
                    class="btn btn-large btn-primary padding_button w-100"
                    id="enviar-comentario"
                  >
                     Enviar Comentario
                  </button>
                  <div id="loading" class="d-none">Cargando...</div>
                  {% csrf_token %}
                </div>
              </div>
            </form>
            <script>
            $(document).ready(function() {
              $("#enviar-comentario").click(function() {
                  var comentario_contenido = $("#comment").val();
          
                  if (!comentario_contenido) {
                      $("#comentario-error").text("El comentario es obligatorio");
                      return;
                  } else {
                      $("#comentario-error").text("");
                  }
          
                  var noticia_id = {{noticias.id}};
                  // Mostrar indicador de carga
                  $("#loading").removeClass("d-none");
                  var csrf_token = document.getElementsByName('csrfmiddlewaretoken')[0].value;

                  $.ajax({
                      type: 'POST',
                      url: 'ajax/cargar_comentarios/' + noticia_id + '/',
                      data: {
                          'contenido': comentario_contenido,
                          'csrfmiddlewaretoken': csrf_token,  // Reemplaza esto con la lógica para obtener el token CSRF
                      },
                      dataType: 'json',
                      success: function(data) {
                          // Actualizar el contenido del div con ID "test" con la respuesta del servidor
                          $("#test").html(data.content);
                          console.log(data)
          
                          // Limpiar el textarea y ocultar el indicador de carga
                          $("#comment").val("");
                          $("#loading").addClass("d-none");
                      },
                      error: function(xhr, status, error) {
                          console.error(xhr.responseText);
                          alert('Error en la solicitud AJAX');
                      }
                  });
              });
          });
             
               
            </script>
            {% else %}
            <h4 class="comment_text text-black mt-6 mb-5">
              Registrarte para escribir un comentario
            </h4>
            {% endif %}
           
        </div>
        {% include "./panel_noticias.html" %}
        
      </div>
    </div>
  </section>

  <!--  START FOOTER SECTION  -->
  <section id="footer" class="footer">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <ul class="footer_ul">
            <li class="footer_list"><i class="lab la-facebook-f"></i></li>
            <li class="footer_list"><i class="lab la-twitter"></i></li>
            <li class="footer_list"><i class="lab la-google-plus"></i></li>
            <li class="footer_list"><i class="lab la-linkedin-in"></i></li>
            <li class="footer_list"><i class="lab la-instagram"></i></li>
            <li class="footer_list"><i class="las la-envelope"></i></li>
          </ul>
          <p class="info footer_text">
            <i class="far fa-copyright"></i>2023 MegaOne. Made with love by
            themesindustry
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock contenido %}
