{% extends 'base.html' %}
{% load static %}
{% block contenido %}
{% include "navbar.html" %} 
{% load crispy_forms_tags %}
<div id="page_content">
  <section
    id="bg-blog-detail-img"
    style="background-image: url({{ form.instance.imagenes.url }});"
    class="bg-blog-detail-img"
  >
    <div class="overlay"></div>
  </section>
  <section id="search">
    <div class="container">
      <div class="row pt-lg-5">
        <div class="col-sm-12 col-ms-8 col-lg-8">
          <h2>Editar Noticia</h2>
          <hr />
          <form
            action=""
            class="post-form"
            method="post"
            enctype="multipart/form-data"
          >
            {% csrf_token %} {{ form.media }} {% crispy form %}
            <button class="btn btn-success boton-flotante" type="submit">   
              Guardar cambios
              <i class="las la-save"></i>
            </button>
          </form>
        </div>

        <div class="col-12 col-lg-4 order-2 order-md-1 margin_small">
          <section id="tags">
            <div class="container">
              <div class="row">
                <div class="col-12 pr-0 pl-0">
                  <div class="outer_tag mt-4">
                    <h2 class="main_tag">Historia de modificaciones</h2>
                    <ul class="list-group list-group-flush">
                      {% for entry in history %}
                        <li class="list-group-item">
                          <strong>{{entry.action_time}} </strong>
                          </br>
                            {{entry.user}}
                         </br>
                            {{ entry.get_change_message}}
                        </li>
                      {%endfor%}
                        
                    </ul>
                     
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
</div>
<script
  type="text/javascript"
  src="{% static 'ckeditor/ckeditor-init.js' %}"
></script>
<script
  type="text/javascript"
  src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"
></script>

{% endblock contenido %}
