{% extends 'base.html' %} {% load static %} 
{% block contenido %} 
{% include "navbar.html" %}
<div id="page_content">
  <section
    id="bg-blog-detail-img"
    style="background-image: url({{noticias.imagenes.url}});"
    class="bg-blog-detail-img"
  >
    <div class="overlay"></div>
  </section>
  <section id="search">
    <div class="container">
      <div class="row pt-lg-5">
        <div class="col-sm-12 col-ms-8 col-lg-8">
          <h2>Editar Noticia</h2>
          <hr />
          <form
            action=""
            class="post-form"
            method="post"
            enctype="multipart/form-data"
          >
            {% csrf_token %} 
            {% for field in form %}
            <div class="form-group">{{ field }}</div>
            {% endfor %}
            <button type="submit">Guardar cambios</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
<script
  type="text/javascript"
  src="{% static 'ckeditor/ckeditor-init.js' %}"
></script>
<script
  type="text/javascript"
  src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"
></script>
{% endblock contenido %}
