{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="author" content="Themes Industry" />
    <!-- description -->
    <meta
      name="description"
      content="MegaOne is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose agency and HTML5 template with 14 ready home page demos."
    />
    <!-- keywords -->
    <meta
      name="keywords"
      content="creative, modern, clean, bootstrap responsive, html5, css3, portfolio, blog, agency, templates, multipurpose, one page, corporate, start-up, studio, branding, designer, freelancer, carousel, parallax, photography, personal, masonry, grid, faq"
    />
    <!-- Page Title -->
    <title>Blog | Mi mundo viajando</title>
    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/favicon.ico'%}" />
    <!-- Bundle -->
    <link rel="stylesheet" href="{% static 'vendor/css/bundle.min.css'%}" />
    <!-- Plugin Css -->
    <link rel="stylesheet" href="{% static 'vendor/css/cubeportfolio.min.css'%}" />
    <script src="{% static 'vendor/js/popper.min.js'%}"></script>
    <link rel="stylesheet" href="{% static 'css/animate.min.css'%}" />
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.css'%}" />
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css'%}" />
    <link rel="stylesheet" href="{% static 'css/line-awesome.min.css'%}" />
    <!-- Style Sheet -->
    <link rel="stylesheet" href="{% static 'vendor/css/owl.carousel.min.css'%}" />
    <link rel="stylesheet" href="{% static 'css/style.css'%}" />
    <link rel="stylesheet" href="{% static 'css/guille.css'%}" />
    <link rel="stylesheet" href="{% static 'vendor/css/jquery.toast.min.css'%}" />
 
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{% static 'js/guille.js'%}"></script>
  
  </head>

  <body data-spy="scroll" data-target=".navbar" data-offset="150">
    <!--  PRELOADER  -->
    <div class="loader-area">
      <div class="loader">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
      </div>
    </div>

    {% block contenido %}

    {% endblock contenido %}
    {% include "footer.html" %}
    <!-- JavaScript -->
    <script src="{% static 'vendor/js/bundle.min.js'%}"></script>

    <!-- Plugin Js -->
    <script src="{% static 'vendor/js/owl.carousel.min.js'%}"></script>
    <script src="{% static 'vendor/js/jquery.cubeportfolio.min.js'%}"></script>
  
    <!-- custom script -->
    
 
    <script src="{% static 'js/jquery.fancybox.js'%}"></script>
    <script src="{% static 'js/jquery.fancybox.min.js'%}"></script>
    <script src="{% static 'js/mediaelement-and-player.min.js'%}"></script>
    <script src="{% static 'js/wow.min.js'%}"></script>
    <script src="{% static 'vendor/js/parallaxie.min.js'%}"></script>
    <script src="{% static 'vendor/js/jquery.toast.min.js'%}"></script>
  
    <script src="{% static 'js/script.js'%}"></script>
  </body>
</html>
