{% load static %}
<section id="footer" class="footer ">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <ul class="footer_ul">
          <a
            style="text-decoration-line: none"
            href="https://www.facebook.com/agenciamimundoviajero"
            target="_blank"
          >
            <li class="footer_list">
              <i class="lab la-facebook-f"></i>
            </li>
          </a>

          <a
            style="text-decoration-line: none"
            href="https://www.instagram.com/mi.mundo.viajando/"
            target="_blank"
          >
            <li class="footer_list"><i class="lab la-instagram"></i></li>
          </a>
          <a
            style="text-decoration-line: none"
            href="https://twitter.com/MiMundoViajando"
            target="_blank"
          >
            <li class="footer_list"><i class="lab la-twitter"></i></li>
          </a>
          <a
            style="text-decoration-line: none"
            href="mailto:mimundoviajndo@correo.com"
          >
            <li class="footer_list"><i class="las la-envelope"></i></li>
          </a>
        </ul>
        <p class="info footer_text">
          <i class="far fa-copyright"></i>2023 Mi Mundo Viajando. Hecho con amor
          por viajeros
        </p>
      </div>
    </div>
  </div>
</section>
