{% extends 'base.html' %} {% load static %} {% block contenido %}

<header>
  <nav
    id="my-nav"
    class="navbar navbar-expand-lg navbar-light rounded-bar sidemenu-nav"
  >
    <div class="logo width-logo1">
      <a href="/"
        ><img src="{% static 'img/logo-white.png'%}" alt="Logo Img"
      /></a>
    </div>
    <a   class="sidemenu_btn menu-btn-home" id="sidemenu_toggle">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </nav>

  {% include "menu.html" %}
</header>

<section id="banner-img" class="banner-img bg-banner-img">
  <div class="row no-gutters">
    <div class="col-12 col-md-5"></div>
    <div class="col-12 col-md-7">
      <div class="overlay"></div>
      <div class="row no-gutters height1">
        <div
          class="col-2 d-flex justify-content-center align-items-center"
        ></div>
        <div class="col-10 d-flex align-items-center">
          <h1 class="main-heading text-white">MI<br />MUNDO<br />VIAJANDO</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="areacontenido">
<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="about-text text-left d-flex">
          <p class="verticle-text text-grey pt-2">Inspirador</p>
          <h1 class="main-heading ml-3">
            NAVEGANDO POR EXPERIENCIAS INOLVIDABLES
          </h1>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <p class="sub-heading text-grey">
          <br />
          En Mi Mundo Viajando, te sumergirás en relatos llenos de color y
          emoción, descubriendo secretos locales, joyas ocultas y consejos
          expertos para maximizar tu experiencia viajera. Desde playas
          paradisíacas hasta ciudades vibrantes, nuestro objetivo es inspirarte
          a crear recuerdos extraordinarios mientras exploras los rincones más
          asombrosos del planeta. ¡Embárcate en esta travesía con nosotros y haz
          de cada viaje una obra maestra de aventuras y descubrimientos!
        </p>
      </div>
    </div>
  </div>
</section>

<section id="portfolio" class="portfolio">
  <div class="container">
    <div id="js-grid-masonry-projects" class="cbp cbp-l-grid-masonry-projects">
      {% for noticia in noticias %}
      <div class="cbp-item">
        <div class="cbp-caption">
          <div class="cbp-caption-defaultWrap">
            <img src="{{noticia.imagenes.url}}" alt="" />
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <a
                  href="{% url 'noticias:detalle' noticia.pk %}"
                  class="btn blog-btn cbp-l-caption-buttonLeft"
                  >Leer Más</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="portfolio-text">
         
          <a class="text-black" href="{% url 'noticias:detalle' noticia.pk %}"
            ><h2 class="heading ml-3 texto-con-tres-lineas">{{noticia.titulo}}</h2></a
          >
          <p class="date text-grey">{{noticia.fecha_publicacion}}</p>

          <div class="horizontal-line"></div>
          <p class="sub-heading text-grey mt-3 truncate">{{noticia.resumen}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section id="testimonial" class="testimonial">
  <div class="row bg-black">
    <div class="col-12 col-md-6 p-0">
      <img src="{% static 'img/testimonial-img.jpg'%}" alt="image" />
    </div>
    <div
      class="col-12 col-md-6 pl-4 pl-md-0 d-flex justify-content-center align-items-center"
    >
      <div class="owl-testimonial owl-carousel owl-theme">
        <div class="item">
          <p class="heading-large text-white">
            "MiMundoViajando convierte cada viaje en una aventura inolvidable.
            Sus relatos auténticos y consejos prácticos han transformado mis
            experiencias, haciéndolas más emocionantes y llenas de
            descubrimientos."
          </p>
          <div class="rating">
            <i class="las la-star rating-star"></i>
            <i class="las la-star rating-star"></i>
            <i class="las la-star rating-star"></i>
            <i class="las la-star rating-star"></i>
          </div>
        </div>
        <div class="item">
          <p class="heading-large text-white">
            "Inspiración constante y guía infalible: Mi Mundo Viajando ha elevado
            mis viajes a nuevas alturas. Cada artículo es una ventana a destinos
            asombrosos, proporcionando insights valiosos para explorar el mundo
            de manera auténtica."
          </p>
          <div class="rating">
            <i class="las la-star rating-star"></i>
            <i class="las la-star rating-star"></i>
            <i class="las la-star rating-star"></i>
            <i class="las la-star rating-star"></i>
          </div>
        </div>
        <div class="item">
          <p class="heading-large text-white">
            "Mi Mundo Viajando no solo es un blog; es una comunidad apasionada.
            Conectándome con otros amantes de los viajes, he creado recuerdos
            inolvidables gracias a las recomendaciones compartidas. Este blog es
            mi compañero inseparable en cada travesía."
          </p>
          <div class="rating">
            <i class="las la-star rating-star"></i>
            <i class="las la-star rating-star"></i>
            <i class="las la-star rating-star"></i>
            <i class="las la-star rating-star"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="footer" class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <ul class="footer_ul">
          <li class="footer_list"><i class="lab la-facebook-f"></i></li>
          <li class="footer_list"><i class="lab la-twitter"></i></li>
          <li class="footer_list"><i class="lab la-google-plus"></i></li>
          <li class="footer_list"><i class="lab la-linkedin-in"></i></li>
          <li class="footer_list"><i class="lab la-instagram"></i></li>
          <li class="footer_list"><i class="las la-envelope"></i></li>
        </ul>
        <p class="info footer_text">
          <i class="far fa-copyright"></i>2023 Mi Mundo Viajero. Hecho con amor
          por viajeros
        </p>
      </div>
    </div>
  </div>
</section>
</div>
{% endblock contenido %}
